{% extends 'mngr/base.html' %}

{% block content %}
    {% load widget_tweaks %}
    
    <div class="container">
    <form role="form" action="/add_transaction/" method="POST" >
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
          </div>
        {% endfor %}
 
        <div class="form-actions">
         <button type="submit" class="btn btn-default" >Add transaction !</button>
        </div>
    </form>
    <br>
    <p>Enter hashtags in quotes like HASHTAGS - "tag1" "tag2" "tag3" "tag4"</p>
  </div>
    
    

{% endblock %}