{% extends 'mngr/base.html' %}

{% block content %}
    {% load widget_tweaks %}

    <div class="row" style="margin-top:30px;">
        
        <div class="col-sm-1"></div>
            
            <div class="col-sm-6" > 
            <p><h3>Transactions for {{user.username}}</h3></p>
            
            <ul class="list-group">
                 {% for i in trans_list %}
                    <li class="list-group-item">    
                         <a href='/transaction_details/{{ i.id }}'> {{ i.transaction_desc }}</a>
                    </li>   
                 {% endfor %}
            </ul>
        <p><button type="button" class="btn btn-default" data-toggle="collapse" data-target="#account_list">List of Accounts</button></p>        
        </div>

        <div class="col-sm-4">
            <div id="account_list" class="collapse">  
               <p><h3> Accounts </h3></p> 
                 <ul class="list-group">
                 {% for i in acc_list %}
                    <li class="list-group-item">    
                         <a href='/acc_details/{{ i.id }}/'> {{ i.account_num }}</a>
                    </li>   
                 {% endfor %}
                </ul>
          
            </div>
        </div>

          <div class="col-sm-1"></div>
      

    </div>
    
{% endblock %}






